<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="../Content/NavBarStyleSheet.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav style="position:sticky; top:0; z-index:99">
        <ul id="upNavbar">

            <li>@Html.ActionLink("Login", "Login", "Home")</li>
            <li>@Html.ActionLink("Register", "Register", "Home")</li>
            <li><a href="usingthelibrary.html">USING THE LIBRARY</a></li>
            <li><a href="~/Static/locationandhours.html">LOCATIONS & HOURS</a></li>
        </ul>
        <div style="background-color:white">
            <img src="https://www.dbrl.org/wp-content/themes/cw-dbrl-theme/images/DBRL-linear-transparent.png" width="400" id="image" sytle=" float: left" />
        </div>
    </nav>


    <!--<p style="float:right"> Hours </p>-->
    <div>

        <ul id="lowNavBar" style="padding-top:30px; padding-bottom:20px">

            <li><a><span class="glyphicon glyphicon-ok" style="padding-right:10px"></span>BROWSE & BORROW</a></li>
            <li><a><span class="glyphicon glyphicon-arrow-down" style="padding-right:10px"></span>DOWNLOAD & STREAM</a></li>
            <li><a><span class="glyphicon glyphicon-question-sign" style="padding-right:10px"></span>RESEARCH & LEARN</a></li>

        </ul>

    </div>
    <div class="searchBar">
        <h2> What can we help you with? </h2>
        <form>
            <input type="text" size="60" placeholder="books, music, movies, services, events..." name="search">

            <button type="submit" class="btn btn-default btn-sm" style="background-color:#265069">
                <span class="glyphicon glyphicon-search" style="padding:9px 20px; font-size:25px; background-color:#265069; color:white"></span>
            </button>
        </form>
    </div>
    <div>
        @RenderBody()
    </div>

    <footer id="footer" style="background-color:#265069">

        <div>
            <a href="/Static/home.html"><img src="https://www.dbrl.org/wp-content/themes/cw-dbrl-theme/images/DBRL-linear-white.png" width="400" style="padding-bottom:20px" /></a>
            <div style="float:right; padding-right:60px; padding-top:20px">
                <a href="https://www.facebook.com"><i class="fa fa-facebook" style="font-size:30px"></i></a>
                <a href="https://www.twitter.com"><i class="fa fa-twitter" style="font-size:30px"></i></a>
                <a href="https://www.instagram.com"><i class="fa fa-instagram" style="font-size:30px"></i></a>

            </div>
        </div>

        <nav>
            <ul id="footNavBar">
                <li><a href="https://www.dbrl.org/about">ABOUT US</a></li>
                <li><a href="https://www.dbrl.org/about/governance">GOVERNANCE</a></li>
                <li><a href="https://www.dbrl.org/about/accessibility">ACCESSIBILITY</a></li>
                <li><a href="https://www.dbrl.org/employment">EMPLOYMENT</a></li>
                <li><a href="https://www.dbrl.org/giving">GIVE IT TO YOUR LIBRARY</a></li>
                <li><a href="https://www.dbrl.org/contact">CONTACT</a></li>
            </ul>

        </nav>
        <div>
            <p>Copright</p>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/library")
    @RenderSection("scripts", required: false)
</body>
</html>
